allure-results/
screenshots/
test-output/
build/


#####################################
##java
######################################
.mts.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
activityLog.log
#########################################
###maven
#######################################
target/
pom.xml.tag
pom.xml.releasebackup
pom.xml.versonsbackup
pom.xml.next
pom.xml.back
release.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


##########################################
####eclipse
##########################################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.temp
*.bak
*.swp
local.properties
.localpath
.factorypath

